<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" context="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="stylesheet" href="{{ contextRoot }}lib/bulma/css/bulma.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}css/styles.css" />
  

    <title>FourFiveFire</title>
</head>

<body>     

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <span>&copy; FourFiveFire</span>
    </footer>

    {% block scripts %}
    {% endblock %}    
</body>

</html>