<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" context="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="stylesheet" href="{{ contextRoot }}lib/bulma/css/bulma.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}css/styles.css" />
  

    <title>FourFiveFire</title>
</head>

<body>     

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://fourfivefire.com/">FourFiveFire</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <span>&copy; 2018 FourFiveFire</span>
    </footer>

    {% block scripts %}
    {% endblock %}    
</body>

</html>